.deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin: 8rem auto;
  @media (max-width: 540px) {
    margin-top: 4rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
      max-width: 80%;
      text-align: center;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    .container{
      flex-wrap: wrap;
      max-width: 1500px;
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      width: 90%;

    }
  }
  button {
    padding: 1rem 2.5rem;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    font-size: 1rem;

  }
}
