.nav-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #111111, $alpha: 0.8);
    opacity: 1;
    z-index: 51;
  
    .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: white;
      font-size: 1rem;
      min-width: 50vw;
      padding: 0 1rem;
      gap: 1rem;
      hr {
        border: none;
        border-top: 0.5px solid lightgray;
      }
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.3rem;
        .left {
          display: flex;
          align-items: center;
          flex-direction: row;
          font-size: 2rem;
          gap: .3rem;
  
          @media (max-width: 500px) {
            font-size: 2rem;
          }
          p {
            font-size: 2rem;
            font-family: 'Jost', sans-serif;
            color: black
          }
        }
      }
      .input {
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.8rem;
  
        input {
          border: none;
          outline: none;
          font-size: 1rem;
        }
      }
  
      .nav-wishlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.2rem;
        .nav-heart {
          position: relative;
  
          .nav-heart-count {
            position: absolute;
            font-size: .7rem;
            top: -10px;
            right: -6px;
          }
        }
      }
    }
  }
  