.navbar {
  width: 100vw;
  position: relative;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 8rem;
    background-color: #888581;
    font-size: 0.65rem;
    font-weight: 400;
    color: white;

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        cursor: pointer;
      }
    }
    @media (max-width: 991px) {
      /* hide top component on tablet screens */
      display: none;
    }

    @media (max-width: 767px) {
      /* hide top component on mobile screens */
      display: none;
    }
  }
  .bottom {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 1.2rem 8rem;
    background-color: transparent;
    transition: all 1s ease-in-out;
    @media (max-width: 991px) {
      padding: 1.2rem 2rem;
    }

    &.active {
      background-color: white;
      color: black;
      position: fixed;
      top: 0;
      border-bottom: 1px solid lightgrey;
      z-index: 50;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      div {
        cursor: pointer;
      }
      .parent {
        position: relative;
        span {
          position: absolute;
          top: -6px;
          right: -6px;
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}

// ****** Product Search Modal

.search {
  opacity: 0;
  transition: all 0.4s ease;
  z-index: -1;
  position: fixed;

  input {
    display: none;
  }
}

.search.active {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  transition: all 0.3s ease;

  input {
    display: block;
    border: none;
    width: 60vw;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 2.5rem;
    font-size: 1.3vw;
    color: white;
    background-color: black;
    cursor: pointer;
  }
}

// ******* User SignIn Modal

.user-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #292929, $alpha: 0.8);
  .user {
    width: 30rem;
    position: absolute;
    background-color: white;
    border: none;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    .top {
      display: flex;
      align-items: center;
      width: 100%;
      button {
        padding: 1rem 3rem;
        flex-basis: 50%;
        font-size: 1.1rem;
        border: none;
        cursor: pointer;
        outline: none;
      }
      .signin {
        color: black;
        background-color: white;
      }
      .signin.inactive {
        color: white;
        background-color: black;
      }
      .register {
        color: white;
        background-color: black;
      }
      .register.active {
        color: black;
        background-color: white;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 4rem 3rem;
      label {
        align-self: flex-start;
      }
      input {
        padding: 0.9rem 0.5rem;
        font-size: 1.1rem;
        width: 100%;
        border: 1px solid lightgray;
        outline: none;
      }
      .forgot {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        margin: 0.5rem 0;

        .left {
          display: flex;
          align-items: center;
          width: 50%;
          gap: 0.8rem;
          input {
            flex-basis: 7%;
            cursor: pointer;
          }

          span {
            width: 100%;
          }
        }
        span {
          cursor: pointer;
        }

        p {
          font-size: 0.85rem;
        }
      }
      button {
        color: white;
        background-color: black;
        border: none;
        outline: none;
        padding: 1rem 3rem;
        width: 100%;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }
}

// ******* Cart Modal

.cart-container {
  display: none;
  opacity: 0;
  z-index: -99;
  position: fixed;

  &.active {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #111111, $alpha: 0.8);
    opacity: 1;
    z-index: 51;
  }
  .cart-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    .top {
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        justify-content: space-between;
        background-color: #d1d1d1;
        padding: 1rem 1.5rem;
      }
      .items {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        gap: 0.5rem;

        .left {
          .img-bg {
            width: 80px;
            height: 100px;
            background-color: rgb(241, 241, 237);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 200px;
              height: 200px;
              object-fit: contain;
              object-position: center;
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 16rem;
          .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
          .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .count {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              border: 1px solid lightgrey;
              padding: 0.17rem 0.27rem;
              .sign {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .hr {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  .bottom-pay {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    p {
      align-self: flex-end;
    }
    hr {
      border: none;
      border-top: 1px solid lightgray;
    }
    .total {
      display: flex;
      justify-content: space-between;
    }
    button {
      padding: 1.2rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .toCart {
      color: black;
      background-color: #d1d1d1;

      &:hover {
        transform: translateY(-10%);
        color: white;
        background-color: black;
      }
    }
    .checkout {
      color: white;
      background-color: black;

      &:hover {
        transform: translateY(-10%);
        color: black;
        background-color: transparent;
        border: 1px solid black;
      }
    }
  }
}
