.navbar {
  width: 100%;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: #888581;
    font-size: 0.65rem;
    font-weight: 400;
    color: white;
    .left {
      font-size: 0.55rem;
    }

    .right {
      display: flex;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        gap: 0.5rem;
        font-size: 0.55rem;
        border-right: 1px solid #ffffff;
        cursor: pointer;
      }
      .last {
        border-right: none;
        padding-right: 0;
        i {
          font-size: 0.75rem;
        }
      }
    }
    @media (max-width: 991px) {
      /* hide top component on tablet screens */
      display: none;
    }

    @media (max-width: 767px) {
      /* hide top component on mobile screens */
      display: none;
    }
  }
  .bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0.5rem 3rem;
    background-color: transparent;
    transition: all 0.3s ease;
    @media (max-width: 991px) {
      padding: 1.2rem 2rem;
      top: 0;
    }
    @media (max-width: 300px) {
      padding: 1rem;
    }
    
    &.active {
      color: black;
      position: fixed;
      background-color: white;
      top: 0;
      left: 0;
      border-bottom: 1px solid lightgrey;
      z-index: 50;
    }
    .menu{
      display: none;
      cursor: pointer;
      @media (max-width: 800px) {
        display: flex;
      }

    }
    .left {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;
      font-size: 1.5rem;
      h2 {
        font-size: 1.5rem;
      }
    }

    .right {
      display: flex;
      align-items: center;
      div {
        cursor: pointer;
        margin-left: 1.2rem;
      }
      .parent {
        position: relative;
        span {
          position: absolute;
          top: -7px;
          right: -7px;
          font-size: 0.65rem;
          font-weight: bold;
        }
      }

      .nav-search,
      .parent.nav-wish {
        @media (max-width: 800px) {
          display: none;
        }
      }
      
    }
  }
}

// ****** PRODUCT SEARCH MODAL

.search {
  opacity: 0;
  transition: all 0.4s ease;
  z-index: -1;
  position: fixed;

  input {
    display: none;
  }
}

.search.active {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  transition: all 0.3s ease;

  input {
    display: block;
    border: none;
    background-color: transparent;
    width: 60vw;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.3rem;
    font-size: 1.3vw;
    color: white;
    background-color: black;
    cursor: pointer;
    outline: none;
    border: none;
  }
}

// ******* USER SIGNIN MODAL

.user-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 53;
  top: 0;
  left: 0;
  background-color: rgba($color: #292929, $alpha: 0.8);
  .user {
    width: 30rem;
    position: absolute;
    background-color: white;
    border: none;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;

    @media (max-width: 500px) {
      width: 90vw;
      margin: 3rem auto;

    }
    
    .top {
      display: flex;
      align-items: center;
      width: 100%;
      button {
        padding: 1rem 3rem;
        flex-basis: 50%;
        font-size: 0.8rem;
        border: none;
        cursor: pointer;
        outline: none;
        
      }
      .signin {
        color: black;
        background-color: white;
      }
      .signin.inactive {
        color: white;
        background-color: black;
      }
      .register {
        color: white;
        background-color: black;
      }
      .register.active {
        color: black;
        background-color: white;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 4rem 3rem;
      @media (max-width: 800px) {
        padding: 2rem 1rem;
      }
      label {
        align-self: flex-start;
      }
      input{
        font-size: 0.8rem;
        width: 100%;
        background-color: transparent;
        outline: none;
        padding: 0.9rem 0.5rem;
        border: 1px solid lightgray;
      }
      .password{
        border: 1px solid lightgray;
        display: flex;
        padding: 0.9rem 0.5rem;
        align-items: center;
        width: 100%;
        #input {
        border: none;
        font-size: 0.8rem;
        padding: 0;
        background-color: transparent;
        outline: none;
      }
      i{
        cursor: pointer;
        color: rgb(125, 125, 125);
      }
      }
      .forgot {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 0.7rem;
        margin: 0.5rem 0;
     
        .left {
          display: flex;
          align-items: center;
          width: 50%;
          gap: 0.8rem;
          input {
            flex-basis: 7%;
            cursor: pointer;
          }

          span {
            width: 100%;
          }
        }
        span {
          cursor: pointer;
        }

        p {
          font-size: 0.7rem;
        }
      }
      button {
        color: white;
        background-color: black;
        border: none;
        outline: none;
        padding: 1rem 3rem;
        width: 100%;
        font-size: 0.8rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
          color: black;
          border: 1px solid black;
          background-color: white;
        }
      }
    }
  }
}

// ******* CART SIDE MENU *******

.cart-container {
  display: none;
  opacity: 0;
  z-index: -99;
  position: fixed;

  &.active {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #111111, $alpha: 0.8);
    opacity: 1;
    z-index: 51;
  }
  .cart-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    font-size: .7rem;

    .top {
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        justify-content: space-between;
        background-color: #d1d1d1;
        padding: 1rem 1.5rem;
      }
      .items {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        gap: 0.9rem;

        .left {
          .img-bg {
            width: 40px;
            height: 50px;
            background-color: rgb(241, 241, 237);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100px;
              height: 100px;
              object-fit: contain;
              object-position: center;
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 14rem;
          @media (max-width: 500px) {
            width: 10rem;
          }
          .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
          .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .count {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: .6rem;
              border: 1px solid lightgrey;
              padding: 0.1rem 0.17rem;
              font-size: .6rem;
              .sign {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .hr {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
  .bottom-pay {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    p {
      align-self: flex-end;
    }
    hr {
      border: none;
      border-top: 1px solid lightgray;
    }
    .total {
      display: flex;
      justify-content: space-between;
    }
    button {
      padding: 1.2rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      @media (max-width: 500px) {
        padding: .5rem 1.2rem;
        font-size: .7rem;
      }
    }
    .toCart {
      color: black;
      background-color: #d1d1d1;

      &:hover {
        transform: translateY(-10%);
        color: white;
        background-color: black;
      }
    }
    .checkout {
      color: white;
      background-color: black;

      &:hover {
        transform: translateY(-10%);
        color: black;
        background-color: transparent;
        border: 1px solid black;
      }
    }
  }
}
