.navbar {
  width: 100%;
  .top-container {
    background-color: #888581;
    .top {
      width: 90vw;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.6rem 0;
      font-size: 0.6rem;
      font-weight: 400;
      color: white;
      max-width: 1500px;

      @media (max-width: 1280px) {
        width: 97vw;
      }
      @media (max-width: 1024px) {
        /* hide top component on tablet screens */
        display: none;
      }

      .right {
        display: flex;
        align-items: center;
        span {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          gap: 0.5rem;
          border-right: 1px solid #ffffff;
          color: white;
          cursor: pointer;
        }
        .last {
          border-right: none;
          padding-right: 0;
          i {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .bottom {
    width: 100%;
    height: 4.3rem;
    position: sticky;
    z-index: 50;
    background-color: #f2e5e5;
    transition: all 0.3s ease;
    font-size: 1.2rem;

    &.active {
      color: black;
      position: fixed;
      background-color: white;
      top: 0;
      left: 0;
      border-bottom: 1px solid lightgrey;
      z-index: 50;
    }
    .bottom-container {
      align-items: center;
      justify-content: space-between;
      display: flex;
      width: 90vw;
      margin: 0 auto;
      padding: 1.3rem 0.5rem;
      max-width: 1500px;

      @media (max-width: 1280px) {
        width: 98vw;
        padding: 0.9rem 0.5rem;
        top: 0;
      }
      @media (max-width: 300px) {
        padding: 1rem;
      }
      .menu {
        display: none;
        cursor: pointer;

        @media (max-width: 1024px) {
          display: flex;
        }
      }
      .left {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        flex-direction: row;
        font-size: 2rem;
        p {
          font-size: 2rem;
          font-family: "Jost", sans-serif;
          color: black;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        @media (max-width: 1024px) {
          gap: 1rem;
        }
        @media (max-width: 600px) {
          gap: 0.5rem;
        }
        div {
          cursor: pointer;
          // margin-left: 1.5rem;
        }
        .parent {
          position: relative;
          span {
            position: absolute;
            color: black;
            top: -7px;
            right: -7px;
            font-size: 0.65rem;
            font-weight: bold;
          }
        }

        .nav-search,
        .parent.nav-wish {
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }
    }
  }
}
